* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
}


body .topBar {
  top: 0;
  display: flex;
  position: sticky;
  width: 100vw;
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid rgba(97, 97, 97, 0.287);
  
}
body .topBar.contenedorLog{
  padding: 0px;
}
body .topBar .contenedorLog .imgLog{
  display: flex;
  flex-flow: row;
  height: 50px;
  padding: 0px;
  margin-top: 30%;
  margin-left: 2%;
  width: 50px;
  align-content: center;
}
body .contenedorinicio{
  padding: 0px;
  
  
}
body .contenedorinicio .inicio{
  display: flex;
  flex-flow: row;
  height: 50px;
  border-radius: 15px 15px 15px 15px;
  margin: 30%;
  margin-left: 20%;
  width: 50px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  cursor: pointer;
  padding: 10px 10px;
  font-family: Roboto Black;
  color: black;
  
}
body .contenedorinicio .inicio:hover{
opacity: 0.5;
background-color: grey;
}

body  .contenedorhoy{
  padding: 0px;
}
body .contenedorhoy .hoy{
  display: flex;
  
  flex-flow: row;
  height: 50px;
  border-radius: 15px 15px 15px 15px;
  margin: 30%;
  margin-left: 30%;
  width: 50px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  cursor: pointer;
  padding: 10px 10px;
  font-family: Roboto Black;
  color: black;
  
}
body  .contenedorhoy .hoy:hover{
  display: flex;
  opacity: 0.5;
  background-color: grey;
}
body  .contenedorsiguiendo{
  padding: 0px;
}
body  .contenedorsiguiendo .siguiendo{
  display: flex;
  flex-flow: row;
  height: 50px;
  border-radius: 15px 15px 15px 15px;
  margin: 20%;
  margin-left: 30%;
  width: 80px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  cursor: pointer;
  padding: 10px 10px;
  font-family: Roboto Black;
  color: black;
  
}
body .topBar .contenedorsiguiendo .siguiendo:hover{
  
  opacity: 0.5;
  background-color: grey;
}
body .topBar .buscar{
  display: flex;
  border-radius: 15px 15px 15px 15px;
  width: 500%; 
  height: 50px; 
  background: #9a9c9e54;
  margin-top: 1%;
  margin-left: 6%;
  align-items: center;
  justify-content: left;
  bottom: 0;
  cursor: pointer;
  padding: 10px 10px;
  font-family: Roboto;
  color: black;
}

body .campana{
  display: flex;
  margin: 2%;
  width: 200px;
  height: 200px;
}

body .contentWrapper {
  display: grid; 
  padding-top: 2%;
  grid-template-columns: repeat(auto-fill,230px);
  grid-gap: 4px;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
}
.IM1{
  grid-row-end: span 3;
}
.IM2{
  grid-row-end: span 2;
}
.IM3{
  grid-row-end: span 1;
}

body .contentWrapper img{
  max-width: 100%;
  border-radius: 15px 15px 15px 15px;
 
}

body .contentWrapper .detail {
  position: absolute;
  width: 35vw;
  top: 45px;
  left: 100vw;
  height: 100vh;
  background: white;
  transition: left 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
body .contentWrapper .detail button {
  display: none;
}
body .contentWrapper .detail.open {
  left: 65vw;
}

@media (max-width: 1024px) {
  body .contenedorhoy .hoy {
    display: none;
  }
  body .contenedorsiguiendo .siguiendo {
    display: none;
  }
  body .topBar .buscar{
    margin: 4%;
  }
  body .campana{
    margin-top: 7%;
  }
}

@media (max-width: 375px) {
  body .contentWrapper  {
    width: calc(50vw - 10px);
    height: 50vw;
  }
  body .contentWrapper .detail {
    width: 100vw;
  }
  body .contentWrapper .detail button {
    display: flex;
  }
  body .contentWrapper .detail.open {
    left: 0vw;
  }
}

/*# sourceMappingURL=main.css.map */
